<div>
  <h1>Blackjack</h1>
  <button (click)="startGame()" [disabled]="isGameStarted()">Start Game</button>
  <button (click)="hit()" [disabled]="!isGameStarted() || isGameOver()">Hit</button>
  <button (click)="stand()" [disabled]="!isGameStarted() || isGameOver()">Stand</button>
  <div *ngIf="isGameStarted()">
    <h2>Player Hand:</h2>
    <ul>
      <li *ngFor="let card of playerHand">{{ card.rank }} of {{ card.suit }}</li>
    </ul>
    <h2>Dealer Hand:</h2>
    <ul>
      <li *ngFor="let card of dealerHand">{{ card.rank }} of {{ card.suit }}</li>
    </ul>
  </div>
</div>